
.Right  {
    height: 165px;
    width: 100%;
    background-image: url(../static/images\ \(5\).jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    align-items: right;
    
}
.rightImage {
    background-color: white;
    // opacity: 90%;
    color: black;
    width: 250px;
    float: right;
   
}

.rightImage h1{
    font-size: 4rem;
    font-weight: bold !important;
    margin-bottom: 0% !important;
    padding: 0% !important;
}   
.rightImage h3{
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0% !important;
}
.rightImage a{
    font-size: 1rem;
    font-weight: bold !important;
}
.rightImage p{
    margin-bottom: 0% !important;

}



